
<ul>
<h1>*   It is impossible to lick your elbow.</h1>
<h1>*   A crocodile can't stick it's tongue out.</h1>
<h1>*   A shrimp's heart is in it's head.</h1>
<h1>*   People say "Bless you" when you sneeze because when you sneeze,your heart stops for a mili-second.</h1>
<h1>*   In a study of 200,000 ostriches over a period of 80 years, no one reported a single case where an ostrich buried its head in the sand.</h1>
<h1>*   It is physically impossible for pigs to look up into the sky.</h1>
<h1>*   A pregnant goldfish is called a twit.</h1>
<h1>*   More than 50% of the people in the world have never made or received a telephone call.</h1>
<h1>*   Rats and horses can't vomit.</h1>
<h1>*   If you sneeze too hard, you can fracture a rib.</h1>
<h1>*   If you try to suppress a sneeze, you can rupture a blood vessel in your head or neck and die.</h1>
<h1>*   If you keep your eyes open by force when you sneeze, you might pop an eyeball out.</h1>
<h1>*   Rats multiply so quickly that in 18 months, two rats could have over a million descendants.</h1>
<h1>*   Wearing headphones for just an hour will increase the bacteria in your ear by 700 times.</h1>
<h1>*   In every episode of Seinfeld there is a Superman somewhere.</h1>
<h1>*   The cigarette lighter was invented before the match.</h1>
<h1>*   Thirty-five percent of the people who use personal ads for dating are already married.</h1>
<h1>*   A duck's quack doesn't echo, and no one knows why.</h1>
<h1>*   23% of all photocopier faults worldwide are caused by people sitting on them and photocopying their butts.</h1>
<h1>*   In the course of an average lifetime you will, while sleeping, eat 70 assorted insects and 10 spiders.</h1>
<h1>*   Most lipstick contains fish scales.</h1>
<h1>*   Like fingerprints, everyone's tongue print is different.</h1>
<h1>*   Over 75% of people who read this will try to lick their elbow.</h1>
<h1>*   A crocodile can't move its tongue and cannot chew. Its digestive juices are so strong that it can digest a steel nail.</h1>
<h1>*   Money notes are not made from paper, they are made mostly from a special blend of cotton and linen. In 1932, when a shortage of cash occurred in Tenino, Washington, USA, notes were made out of wood for a brief period.</h1>
<h1>*   The Grammy Awards were introduced to counter the threat of rock music. In the late 1950s, a group of record executives were alarmed by the explosive success of rock ‘n roll, considering it a threat to "quality" music.</h1>
<h1>*   Tea is said to have been discovered in 2737 BC by a Chinese emperor when some tea leaves accidentally blew into a pot of boiling water. The tea bag was introduced in 1908 by Thomas Sullivan of New York.</h1>
<h1>*   Over the last 150 years the average height of people in industrialised nations has increased 10 cm (about 4 inches). In the 19th century, American men were the tallest in the world, averaging 1,71m (5'6"). Today, the average height for American men is 1,75m (5'7"), compared to 1,77 (5'8") for Swedes, and 1,78 (5'8.5") for the Dutch. The tallest nation in the world is the Watusis of Burundi.
<h1>*   In 1955 the richest woman in the world was Mrs Hetty Green Wilks, who left an estate of $95 million in a will that was found in a tin box with four pieces of soap. Queen Elizabeth of Britain and Queen Beatrix of the Netherlands count under the 10 wealthiest women in the world.</h1>
<h1>*   Joseph Niepce developed the world's first photographic image in 1827. Thomas Edison and W K L Dickson introduced the film camera in 1894. But the first projection of an image on a screen was made by a German priest. In 1646, Athanasius Kircher used a candle or oil lamp to project hand-painted images onto a white screen.</h1>
<h1>*   In 1935 a writer named Dudley Nichols refused to accept the Oscar for his movie The Informer because the Writers Guild was on strike against the movie studios. In 1970 George C. Scott refused the Best Actor Oscar for Patton. In 1972 Marlon Brando refused the Oscar for his role in The Godfather.</h1>
<h1>*   The system of democracy was introduced 2 500 years ago in Athens, Greece. The oldest existing governing body operates in Althing in Iceland. It was established in 930 AD.</h1>
<h1>*   A person can live without food for about a month, but only about a week without water.</h1>
<h1>*   If the amount of water in your body is reduced by just 1%, you'll feel thirsty.If it's reduced by 10%, you'll die.</h1>
<h1>*   According to a study by the Economic Research Service, 27% of all food production in Western nations ends up in garbage cans. Yet, 1,2 billion people are underfed - the same number of people who are overweight.</h1>
<h1>*   Camels are called "ships of the desert" because of the way they move, not because of their transport capabilities. A Dromedary camel has one hump and a Bactrian camel two humps. The humps are used as fat storage. Thus, an undernourished camel will not have a hump.</h1>
<h1>*   In the Durango desert, in Mexico, there's a creepy spot called the "Zone of Silence." You can't pick up clear TV or radio signals. And locals say fireballs sometimes appear in the sky.</h1>
<h1>*   Ethernet is a registered trademark of Xerox, Unix is a registered trademark of AT&T.</h1>
<h1>*   Bill Gates' first business was Traff-O-Data, a company that created machines which recorded the number of cars passing a given point on a road.</h1>
<h1>*   Uranus' orbital axis is tilted at 90 degrees.</h1>
<h1>*   The final resting-place for Dr. Eugene Shoemaker - the Moon. The famed U.S. Geological Survey astronomer, trained the Apollo astronauts about craters, but never made it into space. Mr. Shoemaker had wanted to be an astronaut but was rejected because of a medical problem. His ashes were placed on board the Lunar Prospector spacecraft before it was launched on January 6, 1998. NASA crashed the probe into a crater on the moon in an attempt to learn if there is water on the moon.</h1>
<h1>*   Outside the USA, Ireland is the largest software producing country in the world.</h1>
<h1>*   The first fossilized specimen of Australopithecus afarenisis was named Lucy after the paleontologists' favorite song "Lucy in the Sky with Diamonds," by the Beatles.</h1>
<h1>*   Figlet, an ASCII font converter program, stands for Frank, Ian and Glenn's LETters.</h1>
<h1>*   Every human spent about half an hour as a single cell.</h1>
<h1>*   Every year about 98% of atoms in your body are replaced.</h1>
<h1>*   Hot water is heavier than cold.</h1>
<h1>*   Plutonium - first weighed on August 20th, 1942, by University of Chicago scientists Glenn Seaborg and his colleagues - was the first man-made element.</h1>
<h1>*   If you went out into space, you would explode before you suffocated because there's no air pressure.</h1>
</h1>
</ul>

