$navbar-default-bg:#1F0000;
	


@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
	color:#5FFB17;
	float:left;
	letter-spacing:-1px;
	font-size:50px;
}

.navbar-default {

min-height: 70px;

width:100%;
}

#logo:hover{
	color: #759B84;
	text-decoration: none;
}

#bs-example-navbar-collapse-1{
	font-size:25px;
	padding:10px;
}

.center{
	text-align:center;
}

.jumbotron{
	background-image: asset-url('coffee.jpg');
	background-size:cover;
	height:550px;
	margin-top: 30px;
}
.jumbotron h1{
	padding:100px;
	color:#816687;
}

#button{
	background-color:#8968CD;
}



body{
	background-color: #FCFCFC	;
}

.errors{
	background-color:#FFF8DC;
	border : 1px solid #FFBBFF ;
}
.errors1{
	background-color:#FFF8DC;
}

.footer{
	bottom:0px;
	background-color:#F5FFFA;
}

.article_actions{
	border-top:1px solid #eaeaea;
	padding-top: 5px;
}

.article_actions{
	padding-top: 5px;
}

.description{
	margin-top:0px;
}

.out{
	width:auto;
}



#title{
	font-weight:bold;
	font-size:1.5em;
}

#description{
	border-top:1px solid #eaeaea;
	padding-top:15px;
	padding-bottom:15px;

}
.article_details{
	border: 1px solid #eaeaea;
	box-sizing: border-box;
	width:180px;
	margin-left:42%

}

.contain {
  position: relative;
  width: 60%;
 margin-bottom:15px;
 margin-left:35%
}

.image {
border-radius:50%;
background-color:#E9CFEC;
 display: block;
 width: 60%;
 height:150px;
}

.overlay {
border-radius:50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 60%;
  opacity: 0;
  transition: .5s ease;
  background-color:#FDEEF4;
}

.contain:hover .overlay {
  opacity: 1;
}

.text {
  color: #9172EC;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.content{
  color: black;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.floatingTop{
	font-size: 48px;
	position: fixed;
	right: 18px;
	bottom: 36px;
	height: 37px;
    overflow: hidden;
}

.floatingTop a {
	text-decoration: none;
	color:  #B1FB17;
}

.categories{
	font-size:40px;
	color:#254117;
}

.category{
	background-color: #CEF6F5;
	text-transform: uppercase;
	letter-spacing: 1px;
	border:1px solid black;
}
.style{
	border-bottom: 1px solid #eaeaea;
}

#style{
	background-color:#1F0000;
	border: 1px solid #1F0000;
	color:grey;
	padding-top:5px;
}


